
{% extends 'base.html' %}

{% block header %}
    {% load static %}
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static '/home.css' %} ">
{% endblock %}

{% block contend %}
    <div class='row'>
        <div class="col-md-2 col-xs-2">
            <div class="box" >
                Hello
            </div>
        </div>
        <div class="col-md-8 col-xs-9">
            <div class="box">
                <div class='reactive-card-container col-md-1' style='display: inline;'>
                    {% for taskItem in tasks %}
                        <div class="card-container" id='card-container'>
                            hello
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}



