
{% extends 'base.html' %}

{% block header %}
    {% load static %}
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %} ">
{% endblock %}

{% block contend %}
    {% load static %}
    <div class='row'>
        <div class="col-md-2 col-xs-12">
            <div class="box" >
            </div>
        </div>
        <div class="col-md-10 col-xs-12">
            <h3> Mis tareas </h3>
            <div class="box" style=>
                <div class="row center-xs start-md">
                    {% for taskItem in tasks %}
                        <div class="col-md-3 col-xs-11 card-container">
                            <a href='/task/{{ taskItem.id }}' id='redirect-to'>
                                <div class="box" id='card-container'>                                
                                    <div class="row">
                                        <!-- Titulo de la tarea -->
                                        <div class="col-xs-10">
                                            <div class="box">
                                                <strong>{{ taskItem.title }}</strong>
                                            </div>
                                        </div>
                                        <!-- Imagen del perfil del usuario al que se le asigno la tarea -->
                                        <div class="col-xs-2">
                                            <div class="box">
                                                <img class='image-profile' src='https://st.depositphotos.com/1008939/1880/i/600/depositphotos_18807295-stock-photo-portrait-of-handsome-man.jpg' />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contend">
                                        {{ taskItem.description }}
                                    </div>
    
                                    <strong class='footer-card working' >En proceso</strong>
                                    <strong class='footer-card date' > <img width="10px" src="{% static '/icons/calendar.svg' %}" /> {{ taskItem.taskExpire }} </strong>
    
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    

    <script src=" {% static '/js/taskCard.js' %} "></script>
    <script src=" {% static '/js/textUtils.js' %} "></script>

{% endblock %}



